{% extends 'base.html' %}
{% block title%}Register Page {% endblock %}
{% block content %}
<h1>Password Change Here</h1>
<form method="POST" action="">
 {% csrf_token %}
 {{form.as_p}}
 <small>
    <button class="btn btn-secondary">Done</button>
    <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a> 
    <ul>
      <li>Your password can’t be too similar to your other personal information.</li>
      <li>Your password must contain at least 8 characters.</li>
      <li>Your password can’t be a commonly used password.</li>

      <li>Your password can’t be entirely numeric.</li>

    </ul>
 </small>
</form>
{% endblock %}